conpot/emulators/mmaster/mmaster.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mmaster">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="device" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="slave" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="block" maxOccurs="unbounded" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string"
                                                                name="type"
                                                                minOccurs="1"
                                                                maxOccurs="1">
                                                    </xs:element>
                                                    <xs:element type="xs:int"
                                                                name="starting_address"
                                                                minOccurs="1"
                                                                maxOccurs="1"/>
                                                    <xs:element type="xs:short"
                                                                name="size"
                                                                minOccurs="1"
                                                                maxOccurs="1"/>
                                                    <xs:element name="point"
                                                                maxOccurs="unbounded"
                                                                minOccurs="0">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element type="xs:int"
                                                                            name="address"
                                                                            minOccurs="1"
                                                                            maxOccurs="1"/>
                                                                <xs:element type="xs:int"
                                                                            name="count"
                                                                            minOccurs="0"
                                                                            maxOccurs="1"/>
                                                                <xs:element type="xs:string"
                                                                            name="endian"
                                                                            minOccurs="0"
                                                                            maxOccurs="1"/>
                                                                <xs:element type="xs:string"
                                                                            name="encoding"
                                                                            minOccurs="0"
                                                                            maxOccurs="1"/>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string"
                                                                          name="id"
                                                                          use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:short" name="id" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="name" use="required"/>
                        <xs:attribute type="xs:string" name="host" use="required"/>
                        <xs:attribute type="xs:short" name="port" use="required"/>
                        <xs:attribute type="xs:float" name="update_period" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>