conpot/protocols/opcua/opcua.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="opcua">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="folder" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:attribute type="xs:string" name="node_id" use="required"/>
                        <xs:attribute type="xs:string" name="browser_name" use="required"/>
                        <xs:attribute type="xs:string" name="parent" use="optional"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="object" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="variable" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="value" type="UAValue" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="node_id" use="required"/>
                                    <xs:attribute type="xs:string" name="browser_name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="method" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="input_args" type="xs:string" maxOccurs="1" minOccurs="0"/>
                                        <xs:element name="output_args" type="xs:string" maxOccurs="1" minOccurs="1"/>
                                        <xs:element name="func" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="node_id" use="required"/>
                                    <xs:attribute type="xs:string" name="browser_name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="node_id" use="required"/>
                        <xs:attribute type="xs:string" name="browser_name" use="required"/>
                        <xs:attribute type="xs:string" name="parent"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="enabled" use="required"/>
            <xs:attribute type="xs:string" name="name" use="required"/>
            <xs:attribute type="xs:string" name="host" use="required"/>
            <xs:attribute type="xs:short" name="port" use="required"/>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="UAValue">
     <xs:simpleContent>
        <xs:extension base="xs:string">
           <xs:attribute type="xs:string" name="type" use="required"/>
        </xs:extension>
    </xs:simpleContent>
   </xs:complexType>
</xs:schema>