conpot/emulators/mmis/mmis.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
           elementFormDefault="qualified">
    <xs:element name="mmis">
        <xs:complexType>
            <xs:attribute type="xs:string" name="enabled"/>
            <xs:attribute type="xs:string" name="host" use="required"/>
            <xs:attribute type="xs:int" name="port" use="required"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
